<h2> Choose warriors:</h2>

<form action="/arena/fight" method="post">
  {{> selectWarrior select-name="Warrior1"}}
  {{> selectWarrior select-name="Warrior2"}}
  <br>
  <button type="submit">Fight !!</button>
</form>